.git
.github
.forgejo
.env
.env.*
**/.env
**/.env.*
**/.npmrc
**/.netrc
**/.pypirc
**/.aws
**/.azure
**/.config/gcloud
**/.docker/config.json
**/.kube
**/kubeconfig
**/kubeconfig.*
**/*.kubeconfig
**/id_rsa
**/id_dsa
**/id_ecdsa
**/id_ed25519
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.jks
build
dist
docs
e2e
node_modules
frontend/node_modules
web/dist
spinoza
spinoza.exe
coverage*
*.out
*.xml
test
nocommit
deploy
